html{
	overflow;
}

body{
	margin:0;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: auto;

}
.topnav{
	overflow:hidden;
	background-color:#8a706f;
}


a{
	font-family: 'Poppins', sans-serif;
	color:black;
	font-size: 20px;
	text-align: center;
	left: 50%;
}

.topnav a{
	float: right;
	display:block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size: 12px;
}
.topnav a:hover {
  background-color: #ebe2da;
  color: white;
}

.topnav a.active {
  background-color: #ebe2da;
  color: #6D2E46;
}

.topnav .icon {
  display: none;
}


.vertical-line{
	border-left: 5px solid black;
	display: block;
	

}

h1{
	font-family: 'Cormorant Garamond', serif;
	display:block;
	font-size:175px;
	font-weight: 300;
	line-height: 0px;
	margin:50px;
	margin-top:20%;
}
h2{
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size:45px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	justify-items: center;
	
}

h3{
	font-size: large;
	color:#545252;
	font-family: 'Poppins', sans-serif;
}



h4{
	text-align:center;
	background-color:#6D2E46;
	color:white;
	font-family: 'Poppins', sans-serif;
	
	
}

p{
	color: white;
	font-family:"Roboto";
	font-weight:500;
	font-size: 15px;
}

button{
	background-color:#ded7cc78;
	border: 2px solid #adadadad;
	border-radius: 5px;
	color: #eee;
	font-family:'Poppins', sans-serif;
	font-size:15px;
}

.intro{
	margin-top:70px;
	margin-left:50px;
	font-size: large;
	color:#564949;
	font-family: 'Roboto';
}

.downArrow{
	margin-left: 50%;
	height: 200px;
}


#HeadingContain{
	display:table-cell;
	verticle-align:middle;
	left:50px;
	position:relative;	
	min-height:400px;
}




.SquareTitlebefore{
	transform-style:preserve-3d;
	transform: translateZ(0px);
    animation: animateZ 5s infinite;
}

#SquareTitle{
	position:relative;
	height:auto;
	width:100%;
	background-color:#CEBEBE;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	justify-items:center;

	
}

.ItemsRow{
	display:flex;
	justify-content:center;
}

.HobbySection{
	height:auto;
	overflow:hidden;
	width: clamp(23ch, 50%, 46ch);
	margin:10px;
}
.HobbyImg{
	height: 90px;
}

.SquareTitle-1{
	position: relative;
	perspective: 8px;
	perspective-origin:0%;
	display:flex;
	overflow-y:scroll;
	overflow-x:hidden;
	height:500px;
	width:100%;
	background-image: url("https://www.seekpng.com/png/detail/803-8032592_mac-screen-flat-panel-display.png");
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;	
	background-size:cover;
	background-attachment:fixed;
	

}

#LeftPhoto{
	background-color: #000000c7;
	height: 500px;
	width:50%;

}



.SquareTitle-2{
	height:500px;
	width:100%;
	background-image:url("https://images.pexels.com/photos/5185178/pexels-photo-5185178.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;

	background-size:cover;
	background-attachment:fixed;
}
.SectionTitles{
	color: #adadad;
	font-family: 'Merriweather', serif;
	font-size:60px;
	text-align: center;
	margin-top:20%;
	font-weight: 200;
	text-decoration:underline;
}

.CenteredTitles{
	color: #545252;
	font-family: 'Merriweather', serif;
	font-size:50px;
	text-align: center;
	font-weight: 200;
	text-decoration:underline;

}

.Sectionsub-paragraphs{
color: white;
font-family:"Roboto";
font-weight:500;
font-size: 15px;
margin: 10px;
}


.SquareTitle-3{
	height:500px;
	width:100%;
	background-image:url("https://images.unsplash.com/photo-1599837565318-67429bde7162?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;

	background-size:cover;
	background-attachment:fixed;

}



.SectionTitles{
	color: #adadad;
	font-family: 'Merriweather', serif;
	font-size:60px;
	text-align: center;
	margin-top:20%;
	font-weight: 200;
	text-decoration:underline;

}


.CenteredTitles{
	color: #545252;
	font-family: 'Merriweather', serif;
	font-size:50px;
	text-align: center;
	font-weight: 200;
	text-decoration:underline;
	margin-top:15px;

}
.TitleRow{
	display:flex;
	margin-top:40px;
	margin-bottom:25px;
	text-decoration:underline;
	color:#795454;
	font-family: 'Roboto';
	font-size:35px;
	font-weight:600;
}

#Title1{
	text-align: -webkit-right;
	display:block;
	width:450px;
	justify-items: center;
	margin-right:50px;
}
#Title2{
	margin-left:75px;
}

#Title3{
	margin-left:150px;
}



#ProgLang{
	color:#795454;
	font-family: 'Poppins', sans-serif;
	text-align: -webkit-right;
	font-size:30px;
	display:block;
	width:450px;
	justify-items: center;
	margin-right:100px;
}

#tagColumn{
	margin-left:100px;
	display:flex;
}

.tag1{
	border:3px solid #927d7d;
	border-radius:10px;
	background:#ded7cc;
	font-family: 'Poppins', sans-serif;
	position:relative;
	text-align:center;
	color:#927d7d;
	width: fit-content;
	height:fit-content;
	margin:5px;
	
}
.tag2{
	border:3px solid #6f6363;
	border-radius:10px;
	background:#ded7cc;
	font-family: 'Poppins', sans-serif;
	position:relative;
	text-align:center;
	color:#6f6363;
	justify-items:center;
	width: fit-content;
	height:fit-content;
	margin:5px;
	
}

.tag3{
	border:3px solid #795454;
	border-radius:10px;
	background:#ded7cc;
	font-family: 'Poppins', sans-serif;
	position:relative;
	text-align:center;
	color:#795454;
	justify-items:center;
	width: fit-content;
	height:fit-content;
	margin:5px;
	
}
.blob {
	background: #795454;
	border-radius: 50%;
	margin: 10px;
	min-height: 20px;
	min-width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



.Emptyblob {
	
	border-radius: 50%;
	margin: 10px;
	min-height: 20px;
	min-width: 20px;
	background:#797d77;
}



.blobRow1{
	display:flex;
	border-bottom:2px solid #564949;
	margin-top:10px;
	margin-bottom:0px;


}



.column{
	float: left;
	width:50%;
	border-width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	width:45%;
	
}


footer{
	text-align:center;
	background-color:#cebebe;
	color:white;
	font-family: 'Poppins', sans-serif;
	justify-content:center;
}

.footerImg{
	height: 75px;
	margin: 15px;
}



@media (max-width: 500px){
	footer{
		justify-content:center;
	}
	.footerImg{
	height: 25px;
	margin: 15px;
	}
	#HeadingContain{
		width:100%;
		height: 275px;
		justify-content:left;
		margin:0px 0px 0px 0px !important;
	}
	.vertical-line{
	border : 0px;
	margin:0px;
	}
	h1{
	    font-family: 'Cormorant Garamond', serif;
	    position:relative;
	    font-size:100px;
	    margin:0px 0px 0px 0px;
	    line-height:45px;
	    margin-top:25%;
	    margin-left:20px;
	}

	h2{
		font-family: 'Cormorant Garamond', serif;
		text-align: center;
		font-size:35px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		justify-items: center;
	}
	
	h3{
		font-size:45px;
		margin:0px;
	}
	#intro{
		width:100%;
		margin:0px 0px 0px 0px;
	}
	#SquareTitle{
		height:auto;
		width:auto;
		margin:0px;
    }
    .downArrow{
    	width:175px;
    	margin-left:25%;

    }

    .ItemsRow{
    	display:block;
    	margin-left:25%;
    }
    .CenteredTitles{
	font-size:30px;
    }

    .SectionTitles{
	font-size:30px;
	text-align: center;
	margin-top:80%;
	left:2%;

    }
     .SquareTitle-1{
    	background-image : url("https://images.unsplash.com/photo-1594202303956-a3f4f31fec63?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg0fHxjb21wdXRlciUyMHNjcmVlbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    	background-repeat:repeat-y;
	    background-size:100%;
    }

    .SquareTitle-2{
    	background-image : url("https://images.unsplash.com/photo-1524671470795-c7d181eca26e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=610&q=80");
    	background-repeat:repeat-y;
	    background-size:100%;
	    margin-top:0%;
    }
    #LeftPhoto{
	background-color: #000000c7;
	background-size:100%;
	margin:0px;
    }
    .SquareTitle-3{
        background-image: url("https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    	background-repeat:repeat-y;
	    background-size:100%;
	    margin:0%;
    }


}

.backArrow{
	height: 50px;
}

@media (max-width: 1070px){
	#SquareTitle-3{
		height:200px;
		width:700px;
		overflow-x:visible;
    }
	.TitleRow{
	display:flex;
	margin-top:40px;
	margin-bottom:25px;
	text-decoration:underline;
	color:#795454;
	font-family: 'Roboto';
	font-size:25px;
	font-weight:600;
    }

    #Title1{
	text-align: -webkit-right;
	display:block;
	width:50px;
	justify-items: center;
	margin-right:50px;
    }
	#Title2{
		margin-left:5%px;
	}

	#Title3{
		margin-left:10%px;
	}



	#ProgLang{
		color:#795454;
		font-family: 'Poppins', sans-serif;
		text-align: -webkit-right;
		font-size:20px;
		display:block;
		width:50px;
		justify-items: center;
		margin-right:100px;
	}
    .blob {
		background: #795454;
		margin: 5px;
		height: 20px;
		width: 20px;

		box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
		transform: scale(1);
		animation: pulse 2s infinite;
	}
	 .Emptyblob {
		background: #797d77;
		margin: 5px;
		height: 20px;
		width: 20px;
		margin-left:5%;
		margin-left:2px;
	}

    .blobRow1{
	display:flex;
	border-bottom:2px solid #564949;
	margin-bottom:0px;
	height:100px;

   }


	#tagColumn{

	}

	.tag1{
		border:3px solid #927d7d;
		border-radius:10px;
		background:#ded7cc;
		font-family: 'Poppins', sans-serif;
		position:relative;
		text-align:center;
		color:#927d7d;
		width: fit-content;
		height:fit-content;
		margin:5px;

	}
	.tag2{
		border:3px solid #6f6363;
		border-radius:10px;
		background:#ded7cc;
		font-family: 'Poppins', sans-serif;
		position:relative;
		text-align:center;
		color:#6f6363;
		justify-items:center;
		width: fit-content;
		height:fit-content;
		margin:5px;

	}

	.tag3{
		border:3px solid #795454;
		border-radius:10px;
		background:#ded7cc;
		font-family: 'Poppins', sans-serif;
		position:relative;
		text-align:center;
		color:#795454;
		justify-items:center;
		width: fit-content;
		height:fit-content;
		margin:5px;

}
    h3{
    	font-size:12px;
    }

}

@media screen and (max-width: 500px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}